{"accounts" :
    [{
        "auth_service": "google",
        "username": "test@gmail.com",
        "password": "password",
        "location": "137 Esplanade, Altona VIC 3018, Australia",
        "USE_GOOGLE": true,
        "GMAPS_API_KEY_1": "",
        "GMAPS_API_KEY_2": "",
        "GMAPS_API_KEY_3": "",
        "MIN_KEEP_IV" : 90,
        "KEEP_CP_OVER": 1000,
        "RELEASE_DUPLICATE": false,
        "DUPLICATE_CP_FOREGIVENESS": 0.90,
        "STEP_SIZE": 50,
        "MAX_BALL_TYPE": 3,
        "KEEP_BEST_POKEMON_ONLY": false,
        "KEEP_BEST_POKEMON_MIN_CP": 400,
        "KEEP_BEST_POKEMON_MIN_IV": 20,
        "USE_SLACK": false,
        "SLACK_HOOK": ""
    }]
}
